Repository micronaut-projects/micronaut-starter, pull requests merged in 2024-03, with the labels that each got.

#2395 Azure Key Vault needs micronaut discovery client dependency.
  starter-core/src/main/java/io/micronaut/starter/feature/azure/AzureKeyVaultFeature.java
  starter-core/src/test/groovy/io/micronaut/starter/feature/azure/AzureKeyVaultFeatureSpec.groovy
Labels: type: bug

#2419 Remove .set() usage from Kotlin DSL
  starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/aotExtension.rocker.raw
  starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/buildGradle.rocker.raw
  starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/dockerfileExtension.rocker.raw
  starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/dockerfileNativeExtension.rocker.raw
  starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/genericBuildGradle.rocker.raw
  starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/micronautGradle.rocker.raw
  starter-core/src/main/java/io/micronaut/starter/feature/build/gradle/templates/settingsGradle.rocker.raw
  starter-core/src/main/java/io/micronaut/starter/feature/view/JTE.java
  starter-core/src/main/java/io/micronaut/starter/feature/view/gradlePluginJTE.rocker.raw
  starter-core/src/test/groovy/io/micronaut/starter/feature/aws/AmazonApiGatewayHttpSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/aws/AmazonApiGatewaySpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/aws/LambdaFunctionUrlSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/build/GradleEnterpriseSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/build/MicronautAotSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/build/MicronautGradleEnterpriseSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/build/gradle/GradleSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/buildless/BuildlessSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/function/awslambda/AwsLambdaSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/function/oraclefunction/OracleFunctionSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/github/workflows/azure/AzureContainerInstanceWorkflowSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/github/workflows/docker/DockerRegistryWorkflowSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/github/workflows/docker/GraalVMDockerRegistryWorkflowSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/github/workflows/gcloud/GoogleCloudRunWorkflowSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/github/workflows/oci/OracleFunctionsWorkflowSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/kotlin/KtorSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/lang/GroovyApplicationSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/lang/JavaApplicationSpec.groovy
  starter-core/src/test/groovy/io/micronaut/starter/feature/lang/kotlin/KotlinApplicationSpec.groovy
Labels: lang: kotlin, build: gradle

#2423 Fix KTS gradle script for azurefunction
  starter-core/src/main/java/io/micronaut/starter/feature/function/azure/template/azurefunctions.rocker.raw
  starter-core/src/test/groovy/io/micronaut/starter/feature/build/maven/MavenSpec.groovy
Labels: lang: kotlin, type: bug, build: gradle

#2426 build: upgrade to gradle 8.7 for project and generated projects
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  starter-core/src/main/resources/gradle/gradlew.bat
  starter-core/src/main/resources/gradle/wrapper/gradle-wrapper.jar
  starter-core/src/main/resources/gradle/wrapper/gradle-wrapper.properties
Labels: build: gradle

#2421 Add OpenSearch features.
  starter-core/src/main/java/io/micronaut/starter/build/dependencies/MicronautDependencyUtils.java
  starter-core/src/main/java/io/micronaut/starter/feature/opensearch/OpenSearchAmazon.java
  starter-core/src/main/java/io/micronaut/starter/feature/opensearch/OpenSearchContributingTestContainerDependency.java
  starter-core/src/main/java/io/micronaut/starter/feature/opensearch/OpenSearchFeature.java
  starter-core/src/main/java/io/micronaut/starter/feature/opensearch/OpenSearchHttpClient5.java
  starter-core/src/main/java/io/micronaut/starter/feature/opensearch/OpenSearchRestClient.java
  starter-core/src/test/groovy/io/micronaut/starter/feature/opensearch/OpenSearchFeatureSpec.groovy
Labels: type: enhancement
